{{>header}}
<div class="main-content">
<p>{{text}}</p>


<form action="">
    <input type="text" placeholder="Search your Location">
    <button>Search</button>
</form>

<p id="message-1"></p>
<p id="message-2"></p>


</div>
<script src="./js/app.js"></script>
{{>footer}}